<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 文章的service -->
	<bean id="articleService" class="com.wsjava.ssm.service.impl.ArticleServiceimpl"/>
	
	<!-- 注册的service -->
	<bean id="userService" class="com.wsjava.ssm.service.impl.UserServiceImpl"/>
	
</beans>
